{% extends 'base.html' %}

{% block head %}
<title>Resume Parser</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="query_box">
        <h3 class="web_title">Resume Parser</h3>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form_inner">
                <input type="file" name="file" accept=".pdf" required multiple>
            </div>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>

</div>

{% if output %}
<div class="output">
    <table style="display: {{ show_table }}", id="table">
        <thead>
            <tr>
                {% for key in output.keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(output['FILE']|length) %}
                <tr>
                    {% for key in output.keys() %}
                        <td>{{ output[key][i] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button type="button" onclick="exportPdf()" class="btn btn-primary">Export To PDF</button>
</div>
{% endif %}

{% endblock %}